:root {
  --text: #FFFFFF;
  --text-secondary: #A07EB9;
  --text-terciary: #CECDCD;
  --bg: #030410;
  --button: #B64826;
  --bg-card: #3B1F4E66;
  --bg-card-gradient: background: linear-gradient(178.37deg, #7B658B -13.92%, rgba(104, 80, 120, 0.817) 11.17%, #190F29 68.34%);

  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
}